<%= content_for :title, "About"%>
<div id="about">
  <p>Technologie wykożystanie do stworzenia strony:</p>
  <ul>
    <li>Ruby  1.9.3</li>
    <li>Rails 3.2.3</li>
    <li>JavaScript
     <ul>
        <li>JQuery 1.8</li>
        <li>GoogleMaps API v3.10</li>
        <li>Highcharts js 2.2.5</li>
        <li>Cycle 2.9999.8</li>
     </ul>
    </li>
    <li>CSS/SCSS</li>
    
  </ul>
</div>
