  <table class="gpx_list">
    <spam class="table_title">Pliki gpx użytkownika:</spam>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <% @location_name.each do |file|%>
      <tr>
        <td><%= file %> </td>
        <% if @user == current_user %>
        <td> <%= link_to I18n.t'view.link.delete', location_path(file), :method => :delete,:confirm => true %></td>
        <td><%= link_to I18n.t'view.link.download',download_gpx_locations_path(file)%></td>
        <% end %>
      </tr>
    <% end %>
  </table>