  <table class="gpx_list">
    <spam class="table_title">Pliki gpx użytkownika:</spam>
    <tr>
      <th></th>
      <th></th>
    </tr>
    <% @location_name.each do |file_name|%>
      <tr>
        <td><%= file_name %> </td>
        <% if @user == current_user %>
	 <td> <%= link_to t('view.link.delete'), location_path(file_name), :method => :delete,:confirm => true %></td>
         <td> <%= link_to t('view.link.download'), download_gpx_locations_path(file_name) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>