<ul class="legend">
  <i class="legend_title">Legenda:</i>
    <li>
      <%= image_tag "http://maps.google.com/mapfiles/kml/pal2/icon13.png"%>
      <i>Punkt.</i>
    </li>
    <li>
      <%= image_tag "http://maps.google.com/mapfiles/kml/pal3/icon46.png" %>
      <i>Nowy punkt.</i>
    </li>
    <li>
      <%= image_tag "http://maps.google.com/mapfiles/kml/pal3/icon39.png" %>
      <i>Punkt do usunięcia.</i></li>
    <li>
      <%= image_tag "camera.png"%>
      <i>Punkt posiadający zdjęcie/a.</i>  
    </li>
</ul>