<%= content_for :title,"Map" %>
<section id="action">

<%= render :partial => "user/partials/add_file"%>
<%= render :partial => "user/partials/profile_buttons"%>
</section>

<div id="cos">
  <div class="load_gpx_name"></div>
  <div id="mapa"></div>
</div>

<%= render :partial => "photos/partials/add_image" %>
