@import "body_color";
@import "buttom";

body{
  @include body_color;
  margin:0;
  padding:0;
}
form, input, select, textarea {
    margin:0;
    padding:0;
  }
////////////////////////////////////////////////////////////////////////////
header#outside{
  width:1000px;
  margin:auto;
}

div.container{
  margin:auto;
  width:1000px;
}
  


div.logo{
  display:inline;
  margin: 0 0 0 50px;
}
/*Fron menu */
div.front_menu{
  float:right;
  
}
div.front_menu li{
    @include header_menu_style;
    list-style:none;
    display:inline;
    padding: 2px 3px;
  }
div.front_menu a{
    @include menu_buttom(14px);
  }
div.front_menu a:hover{
    @include menu_buttom_hover;
  }

//MENU Rozwijane //
div#menu{
   width:1000px;
   @include  header_menu_style;
}
div#sMenu {
  display:table;
  margin: 0 auto;
}

div#sMenu a {
	@include menu_buttom(20px);
}

div#sMenu ul ul a{
  @include menu_buttom(16px);
}

div#sMenu ul,
div#sMenu li {
	margin: 0px;
	padding: 0px;
}

div#sMenu li {
	list-style: none;
	list-style-image: none;
	position: relative;
	padding: 3px 5px;
	white-space: nowrap;
}

div#sMenu ul li:hover {
	@include menu_buttom_hover;
}
div#sMenu ul li a:hover {
	@include menu_buttom_hover;
}
/**
 * Poziome menu pierwszego poziomu
 * - nie mozna uzyc >, IE6
 */
div#sMenu > ul li {
	float: left;
	@include header_menu_style;
}

div#sMenu ul ul li {
	float: none;
}

/**
 * Menu kolejnych poziomow
 */
div#sMenu ul ul {
	z-index: 50;
	display: none;
	position: absolute;
	top: 29px;
}

div#sMenu li:hover > ul {
	display: block;
}

/**
 * Menu drugiego poziomu - pierwsze rozwiniecie
 */
div#sMenu ul ul {
	left: 0px;
}

div#sMenu ul ul ul {
	left: 100%;
	top: 0px;
	z-index: 75;
}

/*div#sMenu li select{
  width:100%;
  height:40px;
  background:#F2F2F2;
} */
///////koniec menu /////////
.hidden{
  visibility:hidden;
}

div.session_form center form{
  position:relative;
  top: 20px;
  padding: 10px;
  width: 250px;
  margin:auto;
  
}


div.session_form div label{
  color:white;
  font-weight: bold;
  font-size: 18px;
  }
  
div.session_form div input[type="submit"]{
  position:relative;
  left:33%;
  top:15px;
  padding: 3px;
  @include submit_buttom;
  }

div#navi{
 background-image:url("navi.png");
 margin:auto;
 width:400px;
 height:305px; 
}

#animation{
  width:302;
  height:212;
 position:relative;
 left: 72px;
 bottom: -41px;
}
div#show_body{
 display:block;
 width:800px;
 margin:50px auto;

  div.load_gpx_name{
    color: #3b3d34;
    font-family:"Arial",sans-serif;
    font-weight: bold;
    border-right-style:solid;
    border-right-color:#58D411;
    border-right-width:2px;
    padding-right: 2px;
  }
  div#mapa{
    background:#4f4f4f;
    position:relative;
    overflow: auto;
    width:800px;
    height:490px;
    z-index:1;
  }
}

section#action{
  margin: 0 auto;
}

///Dodawanie image

div#add_image{
  display:block;
  width:400px;
  height:300px;
  position:relative;
  top:40px;
  margin:0;
  padding:0;
  padding-top:10px;
  @include header_menu_style;
}
div#add_image form{
  margin:5px 0 0 0;
}
div#add_image ul{
  margin:10px 0;
}
div#add_image ul li{
  display:list-item;
  position:relative;
  width:310px;
  margin:5px 0;
  list-style:none;
}

div#add_image ul li label.text{ 
  float:left;
  width:100%;
  font-size:17px;
  text-align:left;
  color:#3b3d34;
}

div#add_image ul li input.wpis{
  width:100%;
}
div#add_iamge ul li input.file{
  width:150px;
  font-size:14px;
}
div#add_image ul li input.submit{
  width:100%;
  @include submit_buttom;
}
/* OVERLAY */

div#overlay{
    display:none;
    background-image:url("overlay.png");
    position:fixed;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4000;
    .close_overlay{
      background-image:url("close.png");
    }
}
//////////////////////////////////  

/* profil terenu */
ul.profile_buttons{
  list-style:none;
  display:none;
}
/* About */
div#about{
  width:350px;
  margin:25px auto;
}

div#about ul{
  list-style:upper-roman;
}
div#about li{
  margin:5px 0;
}
div#about ul ul{
  list-style:decimal;
}
/////////////////////////////////////////////////////////////////////////////

///// show galery///////////////////
div#galery{
  margin: 50px 0;
  width:1000px;
}

div#galery div.image_container{
  width:150px;
  margin:20px 20px;
  padding:5px;
  background:url("white_wall.png");
  float:left;
}
div.image{
  width:150px;
  height:100px;
}
div.name_image{
  height:12px;
  font-size:13px;
  font-style:italic;
  font-weight:bold;
  text-align:center;
}

div.action_image{
  
  text-align:center;
  text-decoration:none;
}
div.action_image a{
  @include menu_buttom(10px);
}
div.action_image a:hover{
  @include menu_buttom_hover;
}
/////////////profile /////

div#profile{
  width:350px;
  margin:25px auto;
  
div#profile spam{
    margin: 40px auto;
    @include header_menu_style;
    @include menu_buttom(17px);
    background:#7ce4de;
    padding:2px 5px;
  }
    
  div#profile table{
    td{
      @include header_menu_style;
      @include menu_buttom(13px);
      background:#ffffff;
      text-align:left;
      padding: 2px 25px;
      margin: 25px;
      color:#15120e;
      div#profile a{
        text-decoration:none;
        @include submit_buttom;
      }
    }
  }
}
////////// action_buttons menu ////////
div.action_buttons{
  display:table;
  margin: 0 auto;
  padding:0 25px;
  @include header_menu_style;
}


div.action_buttons ul,
div.action_buttons li{
	margin: 0px;
	padding: 0px;
}

div.action_buttons li{
  list-style:none;
  position:relative;
}

div.action_buttons > ul li{
  float:left;
  margin:0 2px;
}

div.action_buttons > ul ul li{
  float:none;
}
div.action_buttons > ul ul li a{
  @include header_menu_style;
}
div.action_buttons ul ul{
  z-index:50;
  position:absolute;
}

.edit_gpx_points{
  display:none;
}
.remove_gpx_points{
  display:none;
  }
.add_gpx_points{
  display:none;
  }
.list_locations{
  width:100px;
  list-style:none;
  display:none;
}

div.action_buttons a{
  @include menu_buttom(16px);
}

div.action_buttons a:hover{
  @include menu_buttom_hover;
}
 

/* ADD GPX form / formulasz dodawania pliku gpx*/
div#add_gpx{
  display:none;
  width:400px;
  height:250px;
  position:absolute;
  top:20px;
  margin:0;
  padding:0;
  @include header_menu_style;
}
div.box_form{
  margin:auto 0px;
  width:380px;
  position:relative;
  left:10px;
}
div.box_form ul li{
  display:list-item;
  position:relative;
  left:10px;
  width:310px;
  margin:5px 0;
}

div.box_form li label.text{
  float:left;
  width:100%;
  font-size:17px;
  text-align:left;
  color:#3b3d34;
  z-index:19;
}
div.box_form li input.wpis{
  width:100%;
}
div.box_form li input.file{
  width:100%;
  font-size:14px;
  color:#3b3d34;
}

div.box_form li input.submit{
  @include submit_buttom;
}

// zamykanie okienka add_gpx
.close_add_gpx{
  position:relative;
  left:140px;
  width:30px;
  height:30px;
}

///////////////////////context_menu marker////////

.contextmenu{
  visibility:hidden;
  background:#ffffff;
  border:1px solid #8888FF;
  z-index: 10;  
  position: relative;
  width: 100px;
}
 .contextmenu ul{
    list-style:none;
    margin:0;
    padding:0;
  }
.contextmenu li{
  display:block;
}
.contextmenu li a{
  @include menu_buttom(13px);
}
.contextmenu li a:hover{
  @include menu_buttom_hover;
}

div#marker_gallery_fancybox{
  display:none;
}
